<!-- 卡片 -->
<el-card>
  <!-- 面包屑导航 -->
  <mybread one="用户管理" two="用户列表"></mybread>
  <!-- 搜索区 -->
  <div style="margin-top: 15px;">
    <el-row>
      <el-col :span="6">
        <el-input
          placeholder="请输入内容"
          class="input-with-select"
          v-model="query"
        >
          <el-button
            slot="append"
            icon="el-icon-search"
            @click.prevent="search"
          ></el-button>
        </el-input>
      </el-col>
      <el-col :span="4">
        <el-button type="success" plain @click="open">添加用户</el-button>
      </el-col>
    </el-row>
  </div>
  <!-- 表格区 -->
  <el-table :data="tableData" style="width: 100%" border>
    <el-table-column type="index" width="50"></el-table-column>
    <el-table-column prop="username" label="姓名" width="180"></el-table-column>
    <el-table-column prop="email" label="邮箱" width="350"></el-table-column>
    <el-table-column prop="mobile" label="电话" width="350"></el-table-column>
    <el-table-column label="用户状态" width="80">
      <template slot-scope="scope">
        <!-- {{scope.row}} -->
        <el-switch
          v-model="scope.row.mg_state"
          active-color="#13ce66"
          inactive-color="#ff4949"
          @change="openOff(scope.row.id,scope.row.mg_state)"
        ></el-switch>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-row>
          <el-button
            type="primary"
            icon="el-icon-edit"
            plain
            @click="edit(scope.row.id)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            plain
            @click="remove(scope.row.id)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            plain
            @click="setrule(scope.row.id)"
          ></el-button>
        </el-row>
      </template>
    </el-table-column>
  </el-table>
  <!-- 分页区 -->
  <el-pagination
    @current-change="currPage"
    @size-change="sizeChange"
    :current-page="pagenum"
    :page-sizes="pagesizes"
    :page-size="pagesize"
    :total="total"
    layout="total, sizes, prev, pager, next, jumper"
  ></el-pagination>
  <!-- 对话框 -->
  <el-dialog title="添加用户" :visible.sync="adddialog">
    <el-form :model="userinfo" ref="ruleForm" :rules="rules">
      <el-form-item
        label="用户名"
        :label-width="formLabelWidth"
        prop="username"
      >
        <el-input autocomplete="off" v-model="userinfo.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
        <el-input autocomplete="off" v-model="userinfo.password"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" :label-width="formLabelWidth" prop="email">
        <el-input autocomplete="off" v-model="userinfo.email"></el-input>
      </el-form-item>
      <el-form-item label="电话" :label-width="formLabelWidth">
        <el-input autocomplete="off" v-model="userinfo.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="adddialog=false">取 消</el-button>
      <el-button type="primary" @click.prevent="adduser">确 定</el-button>
    </div>
  </el-dialog>
  <el-dialog title="修改用户" :visible.sync="editdialog">
    <el-form :model="userinfo" ref="ruleForm" :rules="rules">
      <el-input
        autocomplete="off"
        v-model="userinfo.id"
        type="hidden"
      ></el-input>
      <el-form-item label="用户名" :label-width="formLabelWidth">
        <el-input
          autocomplete="off"
          v-model="userinfo.username"
          disabled
        ></el-input>
      </el-form-item>
      <el-form-item label="邮箱" :label-width="formLabelWidth" prop="email">
        <el-input autocomplete="off" v-model="userinfo.email"></el-input>
      </el-form-item>
      <el-form-item label="电话" :label-width="formLabelWidth">
        <el-input autocomplete="off" v-model="userinfo.mobile"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editdialog=false">取 消</el-button>
      <el-button type="primary" @click.prevent="edituser(id)">确 定</el-button>
    </div>
  </el-dialog>
  <el-dialog title="分配角色" :visible.sync="ruledialog">
    <el-form :model="ruleinfo">
      <el-form-item label="用户名" :label-width="formLabelWidth">
        {{ ruleinfo.username }}
        <el-input
          autocomplete="off"
          v-model="ruleinfo.username"
          :disabled="true"
          type="hidden"
        ></el-input>
      </el-form-item>
      <el-form-item label="选择角色" label-width="90px">
        <el-select v-model="ruleinfo.rid" placeholder="请选择">
          <el-option label="请选择" :value="-1"></el-option>
          <el-option
            v-for="item in selectlist"
            :key="item.id"
            :label="item.roleName"
            :value="item.id"
          ></el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="ruledialog=false">取 消</el-button>
      <el-button type="primary" @click="set">确 定</el-button>
    </div>
  </el-dialog>
</el-card>
